= render 'inventory/page_header', header: "Inventory: #{@unit.uuid}", unit: @unit, links: [:show_unit, :new_location]

= render 'form', unit: @unit, unit_categories: @unit_categories, locations: @locations
