.search-inventory{
  padding: 10px!important;
}
.inventory-header {
  border-bottom: 1px solid transparent;
  margin: 0px 0 21px;
  padding-bottom: 9.5px;
}

.inventory-form{
  position: relative;
    z-index: 1;
}

//inventory search form
.inventory-search .inventory-form {
  input.form-control {
    float: left;
    width: 175px;
  }
  button.search-inventory {
    margin-left: 15px;
  }
}
